::ng-deep html.a-fullscreen .a-canvas{
    position: relative !important;
}

.arrow-wrapper{
    position: absolute;
    bottom: 150px;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    a{
        background-color: #fff;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
        img{
            max-width: 20px;
        }
    }
}