<div class="container">
  <div class="row">
    <div class="col-md-2 form-group">
      <label>Name</label>
      <label>{{currentEmployee?.name}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Email</label>
      <label>{{currentEmployee?.email}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Phone Number</label>
      <label>{{currentEmployee?.phone}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Cell Number</label>
      <label>{{currentEmployee?.cell}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Date of birth</label>
      <label>{{currentEmployee?.birthDate}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Gender</label>
      <label>{{currentEmployee?.gender}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Address</label>
      <label>{{currentEmployee?.address}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Major Intersection</label>
      <label>{{currentEmployee?.intersection}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Province</label>
      <label>{{currentEmployee?.province}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>City</label>
      <label>{{currentEmployee?.city}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Postal Code</label>
      <label>{{currentEmployee?.postalCode}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Access to Vehicle</label>
      <label>{{currentEmployee?.vehicleAccess}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Job Category</label>
      <label>{{currentEmployee?.jobCategory}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Job Type</label>
      <label>{{currentEmployee?.jobType}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Job Shift</label>
      <label>{{currentEmployee?.jobShift}}</label>
    </div>
    <div class="col-md-2 form-group">
      <label>Additional Information</label>
      <label>{{currentEmployee?.additionalInfo}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 pull-right">
      <div class="pull-right">
        <input (click) = "onBack()" type="submit" value="Go Back" class="btn btn-primary" />
      </div>
    </div>

  </div>
</div>
