<!--Mian Content-->
<div id="project_main" [ngClass]="getClass()">
  <div id="home_main">
    <img (click)="open360Image()" src="../assets/images/project/globe.png" alt="globe" class="globe">
    <div class="single-item">
      <div><img src="../assets/images/alraziq/slider1.jpg" alt="banner"></div>
      <div><img src="../assets/images/alraziq/slider2.jpg" alt="banner"></div>
      <div><img src="../assets/images/alraziq/slider3.jpg" alt="banner"></div>
      <div><img src="../assets/images/alraziq/slider4.jpg" alt="banner"></div>
    </div>
  </div>
  <!--project overview-->
  <section id="project_overview">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-6 text-center">
          <img src="../assets/images/alraziq/overview-logo.png" alt="overview-logo" class="img-fluid">
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="overview_intro">
            <h2 class="project_title">Overview</h2>
            <p>Being a unique project by itself, Bismillah Developer is now offering to maintain and
              bring a rise in the standards of giving a chance to people to pursue a luxurious
              lifestyle. It furthermore has several amenities and parks for bringing joy to its
              residents.</p>
            <p>There are 3- Marla, 5-Marla, 10-Marla and 1-Kanal homes in this project supported by
              outstanding architecture as well as lavish facilities for the residents. There is a
              healthy atmosphere and green environment around Bismillah Developers.</p>
          </div>
        </div>
      </div>
      <div class="row overview_items">
        <div class="col-md-6">
          <ul>
            <li>
              <img src="../assets/images/alraziq/overview-icon1.png" alt="overview-icon1">
              <p>Completed</p>
            </li>
            <li>
              <img src="../assets/images/alraziq/overview-icon2.png" alt="overview-icon1">
              <p>G.T Road Lahore</p>
            </li>
            <li>
              <img src="../assets/images/alraziq/overview-icon3.png" alt="overview-icon1">
              <p>Living Communtiy</p>
            </li>
            <li>
              <img src="../assets/images/alraziq/overview-icon4.png" alt="overview-icon1">
              <p>18,000 SQ-YD</p>
            </li>
            <li>
              <img src="../assets/images/alraziq/overview-icon5.png" alt="overview-icon1">
              <p>Save & Secure</p>
            </li>
            <li>
              <img src="../assets/images/alraziq/overview-icon6.png" alt="overview-icon1">
              <p>Walled Society</p>
            </li>
            <li>
              <img src="../assets/images/alraziq/overview-icon7.png" alt="overview-icon1">
              <p>2000 Commercial Plots</p>
            </li>
            <li>
              <img src="../assets/images/alraziq/overview-icon8.png" alt="overview-icon1">
              <p>5000 Resedentails Plots</p>
            </li>
            <li>
              <img src="../assets/images/alraziq/overview-icon9.png" alt="overview-icon1">
              <p>Booking Open</p>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="overview_bg">
            <img src="../assets/images/alraziq/overview-bg.png" alt="overview-bg" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--project overview-->
  <!--project features-->
  <section id="project_features">
    <div class="container">
      <div class="row">
        <div id="features" class="col-12 text-center">
          <h2 class="project_title">Features & Amenities</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul>
            <div class="hover">
              <li class="feature-img1">
                <div class="features_info">
                  <img src="../assets/images/project/feature-icon1.png" alt="feature-icon1">
                  <p>24/7 Electricity</p>
                </div>
              </li>
            </div>
            <div class="hover">
              <li class="feature-img2">
                <div class="features_info">
                  <img src="../assets/images/project/feature-icon2.png" alt="feature-icon1">
                  <p>Sports Complex</p>
                </div>
              </li>
            </div>
            <div class="hover">
              <li class="feature-img3">
                <div class="features_info">
                  <img src="../assets/images/project/feature-icon3.png" alt="feature-icon1">
                  <p>24/7 Security</p>
                </div>
              </li>
            </div>
            <div class="hover">
              <li class="feature-img4">
                <div class="features_info">
                  <img src="../assets/images/project/feature-icon4.png" alt="feature-icon1">
                  <p>Super Market</p>
                </div>
              </li>
            </div>
            <div class="hover">
              <li class="feature-img5">
                <div class="features_info">
                  <img src="../assets/images/project/feature-icon5.png" alt="feature-icon1">
                  <p>Survellance Systems</p>
                </div>
              </li>
            </div>
            <div class="hover">
              <li class="feature-img6">
                <div class="features_info">
                  <img src="../assets/images/project/feature-icon6.png" alt="feature-icon1">
                  <p>Community Center</p>
                </div>
              </li>
            </div>
            <div class="hover">
              <li class="feature-img7">
                <div class="features_info">
                  <img src="../assets/images/project/feature-icon7.png" alt="feature-icon1">
                  <p>Hospital</p>
                </div>
              </li>
            </div>
            <div class="hover">
              <li class="feature-img8">
                <div class="features_info">
                  <img src="../assets/images/project/feature-icon8.png" alt="feature-icon1">
                  <p>Mosque</p>
                </div>
              </li>
            </div>
            <div class="hover">
              <li class="feature-img9">
                <div class="features_info">
                  <img src="../assets/images/project/feature-icon9.png" alt="feature-icon1">
                  <p>School</p>
                </div>
              </li>
            </div>
            <div class="hover">
              <li class="feature-img10">
                <div class="features_info">
                  <img src="../assets/images/project/feature-icon10.png" alt="feature-icon1">
                  <p>Playland</p>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--project features-->
  <!--project gallery-->
  <section id="project_gallery">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="project_title">Gallery</h2>
        </div>
      </div>

    </div>
    <div class="gallery_wrapper">
      <div class="container">
        <div class="row">
          <div class="slick-wrapper">
            <div id="slick1">
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img1.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img1.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img2.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img2.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img3.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img3.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img4.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img4.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img5.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img5.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img6.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img6.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img7.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img7.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img8.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img8.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img1.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img1.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img2.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img2.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img3.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img3.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img4.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img4.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img5.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img5.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img6.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img6.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img7.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img7.png"
                    alt="gallery-img"></a>
              </div>
              <div class="slide-item"><a class="example-image-link" href="../assets/images/alraziq/gallery-img8.png"
                  data-lightbox="example-set"><img class="example-image" src="../assets/images/alraziq/gallery-img8.png"
                    alt="gallery-img"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--project gallery-->
  <!--project videos-->
  <section id="project_videos">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="project_title">Videos</h2>
          <p>Bismillah Developer is now offering to maintain and bring a rise in the standards of
            giving a<br> chance to people to pursue a luxurious lifestyle.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="gallery">
            <div class="gallery-container">
              <img class="gallery-item" src="../assets/images/project/video.bg1.png">
              <img class="gallery-item" src="../assets/images/project/video.bg2.png">
              <img class="gallery-item" src="../assets/images/project/video.bg3.png">
              <img class="gallery-item" src="../assets/images/project/video.bg1.png">
              <img class="gallery-item" src="../assets/images/project/video.bg2.png">
            </div>
            <div class="gallery-controls"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--project videos-->
  <!--project videos-->
  <section id="project_videos">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="project_title">Master Plan</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <lib-ngx-image-zoom [zoomMode]="'click'" [enableScrollZoom]="true" id="master-map"
            [thumbImage]="'assets/images/alraziq/master-map.png'" [fullImage]="'assets/images/alraziq/master-map.png'">
          </lib-ngx-image-zoom>
          <!-- <img id="master-map" src="assets/images/alraziq/master-map.png" alt="" class="img-fluid"> -->
          <a (click)="openFullScreenMode('master-map')" class="d-block" style="margin-top: 40px; cursor: pointer;">View
            Large Map</a>
        </div>
      </div>
    </div>
  </section>
  <!--project videos-->
  <!--project location-->
  <section id="project_location">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="project_title">Location</h2>
        </div>
      </div>
    </div>

    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-md-12 col-lg-7">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3399.80623157635!2d74.17634081499696!3d31.556931981357582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3918e2c2f5aec8b3%3A0x14bb2014ca3ed0d5!2sAl%20Raziq%20Garden!5e0!3m2!1sen!2s!4v1612301396233!5m2!1sen!2s"
            style="height: 600px; width: 100%;"></iframe><noscript> Full functionality of this site
            requires JavaScript to
            be enabled. Learn how to <a href="https://javascriptdownload.org/">Download
              JavaScript/</a> in your browser.</noscript>
        </div>
        <div class="col-md-12 col-lg-5 d-flex align-items-center">
          <div class="location_info">
            <div class="location_inner">
              <img src="../assets/images/alraziq/location-map.png" alt="project_location">
              <h3>Bismillah Housing Scheme Head Office Main<br> G.T Road Bank Stop Manawan Lahore.
              </h3>
            </div>
            <ul>
              <li><img src="../assets/images/project/location-icon1.png" alt="location-icon"><span>Airport: 10km</span>
              </li>
              <li><img src="../assets/images/project/location-icon2.png" alt="location-icon"><span>Orange Train:
                  1.5km</span></li>
              <li><img src="../assets/images/project/location-icon3.png" alt="location-icon"><span>Motowary: 8km</span>
              </li>
              <li><img src="../assets/images/project/location-icon4.png" alt="location-icon"><span>Hospital: 3km</span>
              </li>
              <li><img src="../assets/images/project/location-icon5.png" alt="location-icon"><span>Lahore Ring Road:
                  4km</span></li>
              <li><img src="../assets/images/project/location-icon6.png" alt="location-icon"><span>Bank: 1.5km</span>
              </li>
              <li><img src="../assets/images/project/location-icon7.png" alt="location-icon"><span>Railway Station:
                  12km</span></li>
              <li><img src="../assets/images/project/location-icon8.png" alt="location-icon"><span>Marke: 500m</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--project location-->
  <!--project enquiry-->
  <section id="project_enquiry">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="project_title">Enquiry</h2>
          <p>Doing the right thing, at the right time</p>
        </div>
      </div>
      <form class="row">
        <div class="mb-3 col-md-6 col-lg-3">
          <input type="text" class="form-control" id="fullName" placeholder="Full Name">
        </div>
        <div class="mb-3 col-md-6 col-lg-3">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
        </div>
        <div class="mb-3 col-md-6 col-lg-3">
          <input type="text" class="form-control" id="mobileNo" placeholder="Mobile No">
        </div>
        <div class="mb-3 col-md-6 col-lg-3">
          <input type="text" class="form-control" id="city" placeholder="City">
        </div>
      </form>
      <div class="row">
        <div class="col-md-9">
          <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="10"
            placeholder="Message"></textarea>
        </div>
        <div class="col-md-3">
          <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" [useGlobalDomain]="false" size="normal" hl="en" theme="light"
            type="image" class="captcha">
          </ngx-recaptcha2>
          <button class="btn btn-primary" type="submit">Submit</button>
          <button class="btn btn-secondary">Download Profile</button>
        </div>
      </div>
    </div>
  </section>
  <!--project enquiry-->
</div>
<app-footer></app-footer>
<!--Mian Content-->
