 <!--Mian Content-->
 <div id="contact_main">
   <!--banner-->
   <div id="service_banner">
     <div class="container">
       <div class="row">
         <div class="col-12">
           <h1>Lorem Ipsum Dollar</h1>
           <p>Nullam sed consequat odio, sed malesuada erat Nullam arcu nisi,</p>
         </div>
       </div>
     </div>
   </div>
   <!--banner-->

   <!--services details-->
   <section id="services-details">
     <div class="container">
       <div class="row">
         <div class="col-12 text-center">
           <h2 class="contact_title">Our Services</h2>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6 col-lg-4 d-flex">
           <div class="service-info">
             <img src="../assets/images/service/service-icon1.png" alt="service-icon1">
             <h4>Project Maintenance</h4>
             <p>Bismillah Developer is now offering to maintain and bring a ris Bismillah Developer
               is now offering to maintain and bring a rise Bismillah Developer is now offering to
               maintain and bring a ris Bismillah Developer is now offering to maintain and bring a
               rise</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 d-flex">
           <div class="service-info">
             <img src="../assets/images/service/service-icon2.png" alt="service-icon1">
             <h4>Marketing Services</h4>
             <p>We at Bismillah Developers, have a professional team of marketers and apposite machinery to undertake
               tasks from civil work till the minor interior works. Services ranging from Wall Plastering, Electrical
               and Plumbing.</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 d-flex">
           <div class="service-info">
             <img src="../assets/images/service/service-icon3.png" alt="service-icon1">
             <h4>General Contracting</h4>
             <p>Bismillah Developers is a leading general contracting, construction management, and design/build firm
               serving the Lahore commercial real estate industry for past 6 years.</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 d-flex">
           <div class="service-info">
             <img src="../assets/images/service/service-icon4.png" alt="service-icon1">
             <h4>Lavish Facilities</h4>
             <p>This project supported by outstanding architecture as well as lavish facilities for the residents. There
               is a healthy atmosphere and green environment around Bismillah Developers.</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 d-flex">
           <div class="service-info">
             <img src="../assets/images/service/service-icon5.png" alt="service-icon1">
             <h4>Rent Management</h4>
             <p>Bismillah Developers provides facility to our beloved clients by offering them services such as Renting
               out their properties majorly apartments to the praiseworthy tenants, collecting the rents۔</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 d-flex">
           <div class="service-info">
             <img src="../assets/images/service/service-icon6.png" alt="service-icon1">
             <h4>Green Building</h4>
             <p>Combining the integrated design process, with our innovative, time tested, and proven budgeting,
               cost/benefit analysis, constructability, planning and scheduling methods result in realistic budgets for
               your sustainable/green building.</p>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!--services details-->
 </div>
 <!--Mian Content-->
