 <!--Mian Content-->
 <div id="contact_main">
   <!--banner-->
   <div id="service_banner">
     <div class="container">
       <div class="row">
         <div class="col-12">
           <h1 style="font-style: italic;">Faciities & Services</h1>
           <p style="font-style: italic;">We are glad to manage your property with specilaized  </p>
           <p style="font-style: italic;">professionals, who are ready to serve 24/7</p>
         </div>
       </div>
     </div>
   </div>
   <!--banner-->

   <!--services details-->
   <section id="services-details">
     <div class="container">
       <div class="row">
         <div class="col-12 text-center">
           <h2 class="contact_title">Our Services</h2>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6 col-lg-4 d-flex">
           <div class="service-info" >
             <img src="../assets/images/service/service-icon1.png" alt="service-icon1">
             <h4>Project Maintenance</h4>
             <p>Bismillah Developers strictly adhere day-to-day optimization of society features and services. as well as it has an elaborated mechanism to counter any exigency. </p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 d-flex">
           <div class="service-info">
             <img src="../assets/images/service/service-icon2.png" alt="service-icon1">
             <h4>Marketing Services</h4>
             <p>Bismillah Developers have a team of professionals who utilize marketing tools for the management of your investment and other services.</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 d-flex">
           <div class="service-info">
             <img src="../assets/images/service/service-icon3.png" alt="service-icon1">
             <h4>General Contracting</h4>
             <p>Bismillah Developers is a leading general contracting, construction management, and design/build firm
               serving the Lahore commercial real estate industry for past 6 years.</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 d-flex">
           <div class="service-info">
             <img src="../assets/images/service/service-icon4.png" alt="service-icon1">
             <h4>Lavish Facilities</h4>
             <p>Bismillah's projects are integrated with ample facilities to give the best of its residents. Architecture and town planning are largely cohesive with lush green parks, sports, and fitness facilities.</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 d-flex">
           <div class="service-info">
             <img src="../assets/images/service/service-icon5.png" alt="service-icon1">
             <h4>Rent Management</h4>
             <p>Bring in the uniqueness in your house while designing and construction. Our highly provincial team of architects are inclined with us to serve you by designing your home with their fine esthetics and taste. </p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 d-flex">
           <div class="service-info">
             <img src="../assets/images/service/service-icon6.png" alt="service-icon1">
             <h4>Green Building</h4>
             <p>Combining the integrated design process, with our innovative, time tested, and proven budgeting, cost/benefit analysis, constructability, planning and scheduling methods result in realistic budgets for your sustainable/green building.</p>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!--services details-->
 </div>
 <app-footer></app-footer>
 <!--Mian Content-->
