 <!--Mian Content-->
 <div id="contact_main">
  <!--banner-->
  <div id="service_banner">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <h1>Lorem Ipsum Dollar</h1>
                  <p>Nullam sed consequat odio, sed malesuada erat Nullam arcu nisi,</p>
              </div>
          </div>
      </div>
  </div>
  <!--banner-->

  <!--services details-->
  <section id="services-details">
      <div class="container">
          <div class="row">
              <div class="col-12 text-center">
                  <h2 class="contact_title">Our Services</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-lg-4">
                  <div class="service-info">
                      <img src="../assets/images/service/service-icon1.png" alt="service-icon1">
                      <h4>Project Maintenance</h4>
                      <p>Bismillah Developer is now offering to maintain and bring a ris Bismillah Developer
                          is now offering to maintain and bring a rise Bismillah Developer is now offering to
                          maintain and bring a ris Bismillah Developer is now offering to maintain and bring a
                          rise</p>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="service-info">
                      <img src="../assets/images/service/service-icon2.png" alt="service-icon1">
                      <h4>Marketing Services</h4>
                      <p>Bismillah Developer is now offering to maintain and bring a ris Bismillah Developer
                          is now offering to maintain and bring a rise Bismillah Developer is now offering to
                          maintain and bring a ris Bismillah Developer is now offering to maintain and bring a
                          rise</p>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="service-info">
                      <img src="../assets/images/service/service-icon3.png" alt="service-icon1">
                      <h4>General Contracting</h4>
                      <p>Bismillah Developer is now offering to maintain and bring a ris Bismillah Developer
                          is now offering to maintain and bring a rise Bismillah Developer is now offering to
                          maintain and bring a ris Bismillah Developer is now offering to maintain and bring a
                          rise</p>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="service-info">
                      <img src="../assets/images/service/service-icon4.png" alt="service-icon1">
                      <h4>Lavish Facilities</h4>
                      <p>Bismillah Developer is now offering to maintain and bring a ris Bismillah Developer
                          is now offering to maintain and bring a rise Bismillah Developer is now offering to
                          maintain and bring a ris Bismillah Developer is now offering to maintain and bring a
                          rise</p>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="service-info">
                      <img src="../assets/images/service/service-icon5.png" alt="service-icon1">
                      <h4>Rent Management</h4>
                      <p>Bismillah Developer is now offering to maintain and bring a ris Bismillah Developer
                          is now offering to maintain and bring a rise Bismillah Developer is now offering to
                          maintain and bring a ris Bismillah Developer is now offering to maintain and bring a
                          rise</p>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4">
                  <div class="service-info">
                      <img src="../assets/images/service/service-icon6.png" alt="service-icon1">
                      <h4>Green Building</h4>
                      <p>Bismillah Developer is now offering to maintain and bring a ris Bismillah Developer
                          is now offering to maintain and bring a rise Bismillah Developer is now offering to
                          maintain and bring a ris Bismillah Developer is now offering to maintain and bring a
                          rise</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--services details-->
</div>
<!--Mian Content-->