 <!--Mian Content-->
 <div id="contact_main">
  <!--banner-->
  <div id="lifestyle_banner">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <h1>LifeStyle</h1>
              </div>
          </div>
      </div>
  </div>
  <!--banner-->

  <!--lifestyle-bg-->
  <section class="lifestyle-bg green">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="lifestyle-details bg1">
                      <div class="lifestyle-intro">
                          <h1>Sports Complex</h1>
                          <p>Sports complex is the most distinguishing features of Bismillah housing Society.
                              It is a multipurpose feature includes basketball court, tennis, and badminton
                              court. A wide-open facility is more adequate for the residents to indulge with a
                              healthy lifestyle.</p>
                          <span>Explore from Gallery</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--lifestyle-bg-->

  <!--lifestyle-bg-->
  <section class="lifestyle-bg grey">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="lifestyle-details bg2">
                      <div class="lifestyle-intro">
                          <h1>24/7 Security & surveillance</h1>
                          <p>Number of CCTV cameras providing integrated surveillance and security to the
                              residents. Extensive number of well-trained security staff server their duty in
                              an attentive and vigilant manner. Inhabitants of society can spend their time
                              with the sense of security and peace of mind.</p>
                          <span>Explore from Gallery</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--lifestyle-bg-->

  <!--lifestyle-bg-->
  <section class="lifestyle-bg green">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="lifestyle-details bg3">
                      <div class="lifestyle-intro">
                          <h1>Parks & green spaces</h1>
                          <p>For the wellbeing of residents of society, parks and green areas have been
                              meticulously shaped in our town planning. More than ten percent of community
                              land consists of parks and green areas. Central park is the perfect retreat for
                              families and fitness conscious people, comprises of jogging tracks, rides for
                              kids, sitting spaces and covered with lush green grass. </p>
                          <span>Explore from Gallery</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--lifestyle-bg-->

  <!--lifestyle-bg-->
  <section class="lifestyle-bg grey">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="lifestyle-details bg4">
                      <div class="lifestyle-intro">
                          <h1>Education Facilities</h1>
                          <p>Devotedly crafted state of the art building of Lahore Grammar School serves its
                              purpose for education and extracurricular activities in a valuable manner. A
                              fully functional School is providing education facilities to more than thousand
                              students across and outside the community as well. </p>
                          <span>Explore from Gallery</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--lifestyle-bg-->

  <!--lifestyle-bg-->
  <section class="lifestyle-bg green">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="lifestyle-details bg5">
                      <div class="lifestyle-intro">
                          <h1>Gymnasium</h1>
                          <p>Lorem ipsum is dummy text used in laying out print, graphic or web design</p>
                          <span>Explore from Gallery</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--lifestyle-bg-->

  <!--lifestyle-bg-->
  <section class="lifestyle-bg grey">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="lifestyle-details bg6">
                      <div class="lifestyle-intro">
                          <h1>Mosque</h1>
                          <p>Society’s Grand Jamia Mosque is an architectural blend of traditional Islamic and
                              contemporary design structure. Constructed on wide space and central location;
                              The Grand Jamia Masjid is a true reflection of our cultural and religious
                              values. </p>
                          <span>Explore from Gallery</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--lifestyle-bg-->
</div>
<app-footer></app-footer>
<!--Mian Content-->