

//dealer authorized
#authorized_dealer {
	background-color: #ebebeb;
	padding-top: 90px;
	h2 {
		color: #073f3f;
		margin-bottom: 65px;
	}
	.col-md-6 {
		border-right: 1px solid #bcc3c3;
		margin-bottom: 60px;
	}
}

//dealer detail
.dealership_details {
	img {
		margin-bottom: 20px;
	}
	h5 {
		font-family: 'Lato', sans-serif;
		color: #0fbbbb;
		font-weight: bold;
		margin-bottom: 10px;
	}
	a {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		color: #808285;
		display: block;
		padding-bottom: 10px;

		img {
			padding-right: 10px;
			margin: 0;
		}
	}
}

//dealer contact
.dealership_contact {
	position: relative;
	padding-bottom: 0 !important;
	overflow: hidden;
	&:before {
		content: "";
		background-image: url('../../assets/images/contact/contact-footer.png');
		background-repeat: no-repeat;
		width: 100%;
		height: 450px;
		position: absolute;
		background-size: cover;
		bottom: 0;
	}
	.contact_form {
		padding-bottom: 80px;
	}
	.footer-social {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 50px;
		z-index: 1;
		li {
			margin: 0 15px;
		}
	}
	.form-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.form-check {
			.form-check-label {
				color: #0da2a2
			}
		}
	}
}