  <!--Mian Content-->
  <div id="contact_main">
    <!--banner-->
    <div id="dealer_banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Our Dealership is Expanding</h1>
                    <p>Making it easy to support our customer reaches</p>
                </div>
            </div>
        </div>
    </div>
    <!--banner-->

    <!--authorized dealer-->
    <section id="authorized_dealer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="contact_title">
                        Our Authorized Dealership Agents
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="dealership_details text-center">
                        <img src="../assets/images/dealership/dealer-icon.png" alt="dealer-icon">
                        <h5>Fortuner Estate</h5>
                        <a href="#"><img src="../assets/images/dealership/dealer-user.png"
                                alt="dealer-user">Muhammad-Farooq</a>
                        <a href="tel:+0320-8414714"><img src="../assets/images/dealership/dealer-call.png"
                                alt="dealer-call">0320-8414714</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="dealership_details text-center">
                        <img src="../assets/images/dealership/dealer-icon.png" alt="dealer-icon">
                        <h5>Fortuner Estate</h5>
                        <a href="#"><img src="../assets/images/dealership/dealer-user.png"
                                alt="dealer-user">Muhammad-Farooq</a>
                        <a href="#"><img src="../assets/images/dealership/dealer-call.png"
                                alt="dealer-call">0320-8414714</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="dealership_details text-center">
                        <img src="../assets/images/dealership/dealer-icon.png" alt="dealer-icon">
                        <h5>Fortuner Estate</h5>
                        <a href="#"><img src="../assets/images/dealership/dealer-user.png"
                                alt="dealer-user">Muhammad-Farooq</a>
                        <a href="tel:+0320-8414714"><img src="../assets/images/dealership/dealer-call.png"
                                alt="dealer-call">0320-8414714</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="dealership_details text-center">
                        <img src="../assets/images/dealership/dealer-icon.png" alt="dealer-icon">
                        <h5>Fortuner Estate</h5>
                        <a href="#"><img src="../assets/images/dealership/dealer-user.png"
                                alt="dealer-user">Muhammad-Farooq</a>
                        <a href="tel:+0320-8414714"><img src="../assets/images/dealership/dealer-call.png"
                                alt="dealer-call">0320-8414714</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="dealership_details text-center">
                        <img src="../assets/images/dealership/dealer-icon.png" alt="dealer-icon">
                        <h5>Fortuner Estate</h5>
                        <a href="#"><img src="../assets/images/dealership/dealer-user.png"
                                alt="dealer-user">Muhammad-Farooq</a>
                        <a href="tel:+0320-8414714"><img src="../assets/images/dealership/dealer-call.png"
                                alt="dealer-call">0320-8414714</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="dealership_details text-center">
                        <img src="../assets/images/dealership/dealer-icon.png" alt="dealer-icon">
                        <h5>Fortuner Estate</h5>
                        <a href="#"><img src="../assets/images/dealership/dealer-user.png"
                                alt="dealer-user">Muhammad-Farooq</a>
                        <a href="tel:+0320-8414714"><img src="../assets/images/dealership/dealer-call.png"
                                alt="dealer-call">0320-8414714</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="dealership_details text-center">
                        <img src="../assets/images/dealership/dealer-icon.png" alt="dealer-icon">
                        <h5>Fortuner Estate</h5>
                        <a href="#"><img src="../assets/images/dealership/dealer-user.png"
                                alt="dealer-user">Muhammad-Farooq</a>
                        <a href="tel:+0320-8414714"><img src="../assets/images/dealership/dealer-call.png"
                                alt="dealer-call">0320-8414714</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="dealership_details text-center">
                        <img src="../assets/images/dealership/dealer-icon.png" alt="dealer-icon">
                        <h5>Fortuner Estate</h5>
                        <a href="#"><img src="../assets/images/dealership/dealer-user.png"
                                alt="dealer-user">Muhammad-Farooq</a>
                        <a href="tel:+0320-8414714"><img src="../assets/images/dealership/dealer-call.png"
                                alt="dealer-call">0320-8414714</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-3">
                    <div class="dealership_details text-center">
                        <img src="../assets/images/dealership/dealer-icon.png" alt="dealer-icon">
                        <h5>Fortuner Estate</h5>
                        <a href="#"><img src="../assets/images/dealership/dealer-user.png"
                                alt="dealer-user">Muhammad-Farooq</a>
                        <a href="tel:+0320-8414714"><img src="../assets/images/dealership/dealer-call.png"
                                alt="dealer-call">0320-8414714</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="dealership_details text-center">
                        <img src="../assets/images/dealership/dealer-icon.png" alt="dealer-icon">
                        <h5>Fortuner Estate</h5>
                        <a href="#"><img src="../assets/images/dealership/dealer-user.png"
                                alt="dealer-user">Muhammad-Farooq</a>
                        <a href="tel:+0320-8414714"><img src="../assets/images/dealership/dealer-call.png"
                                alt="dealer-call">0320-8414714</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--authorized dealer-->

    <!--get in touch-->
    <section id="get_in_touch" class="dealership_contact">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="contact_title">Become Real Estate Consultant (REC)</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <form class="contact_form">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="text" placeholder="Full Name">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <input type="test" class="form-control" id="phoneNumber" placeholder="Phone Number">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                placeholder="Your Message"></textarea>
                        </div>
                        <div class="form-bottom">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Agree with terms &
                                    condition</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="contact_title">Connect with Us!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="footer-social">
                        <li><a href="#"><img src="../assets/images/contact/contact-facebook.png"
                                    alt="contact-facebook"></a>
                        </li>
                        <li><a href="#"><img src="../assets/images/contact/contact-insta.png" alt="contact-insta"></a>
                        </li>
                        <li><a href="#"><img src="../assets/images/contact/contact-twitter.png" alt="contact-twitter"></a>
                        </li>
                        <li><a href="#"><img src="../assets/images/contact/contact-linkdin.png" alt="contact-linkdin"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--get in touch-->
</div>
<!--Mian Content-->