nav{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 70px;
  width: 70px;
  background-color: $swamp;
  display: flex;
  align-items: center;
  justify-content: center;
}

header{
  margin: 15px;
  padding: 15px;
  background-color: $swamp;
  background-image: url(../assets/images/header-bg.png);
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary-color;
  font-family: $secondary-font;
  font-size: 18px;
}
.header-info{
  img,label{
    margin-right: 15px;
  }
  a{
    color: $primary-color;
  }
  img{
    max-width: 20px;
    object-fit: contain;
  }
}