//Fonts
$primary-font:'Roboto', sans-serif;
$secondary-font:'Lato', sans-serif;

$normal:400;
$bold:700;


//Colors
$swamp: #001818;
$java: #0fbbbb;
$bridal-health:#fffbf6;
$dallas: #754b28;
$dusty-grey:#999999;

$primary-color:$java;