<!--Mian Content-->
<div id="contact_main">
  <!--banner-->
  <div id="about_banner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="banner_detail">
            <img src="../../assets/images/about/about-banner-img.png" alt="about-banner-img.png" class="img-fluid">
            <div class="banner_person-intro">
              <h1>Haji Ikhlaq</h1>
              <h2>Founder & Chairman</h2>
            </div>
            <div class="banner_info">
              <!-- <h2>“Nulla facilisi. Cras urna urna, viverra et accumsan vel, mollis id est.
                              Maecenas a quam a ligula”</h2> -->
              <h6>Over the past few years, there is an acute shortage of economical residential
                infrastructure, results a huge price surge in real-estate market. Our foremost
                aim was to cater the consumers who are in hunt of premium but economical options
                since the inception of Bismillah Developers back in 2013. It is not just about
                low-cost housing; we are committed to deliver luxury within the reach of
                customer. Though we have a humble beginning, even so, we have delivered four
                fully functional projects which are the pride of Bismillah Developers. Our
                delivered projects were the aspiration of gold standard town planning and design
                featured around the globe.
              </h6>
              <h6>
                Understanding market dynamics and to relate it with our aim is a real challenge
                to us. But on the other hand, our determination is beyond the impediments of
                costings. I am thankful to my team who recognize my passion and made possible to
                execute my vision. </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="about_banner" class="banner2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="banner_detail">
            <img src="../../assets/images/about/about-banner-img.png" alt="about-banner-img.png" class="img-fluid">
            <div class="banner_person-intro">
              <h1>Mr.Abubakar Ikhlaq</h1>
              <h2>Managing Director</h2>
            </div>
            <div class="banner_info">
              <!-- <h2>“Nulla facilisi. Cras urna urna, viverra et accumsan vel, mollis id est.
                              Maecenas a quam a ligula”</h2> -->
              <h6>Bismillah Developers has succeeded in maintaining a leading role amongst the
                competitors by driving a precedent of delivering luxury housing to various
                socioeconomic segments. Although, the formation of housing policy is a wonderful
                initiative by the current government, nevertheless, urban housing demand is
                approximately 350,000- new units. Consequently, creating a perfect balance
                between quantity and quality in the housing sector was another real challenge.
              </h6>
              <h6>
                We have developed a resilient mechanism to overcome those challenges with the
                help of innovative structural design, town planning, and efficient deployment of
                funds.
                Our aim is to bring world-class luxury to our customers. We believe to deliver
                exquisite project with immaculate placement of elements. </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--banner-->

  <!--about info-->
  <section id="about_info">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="about_info_left">
            <img src="../../assets/images/home/logo.png" alt="logo">
            <h3>Name of Integrity Where Dreams come true</h3>
            <img src="../../assets/images/service/right-arrow.png" alt="right-arrow">
          </div>
        </div>
        <div class="col-md-8">
          <div class="about_info_right">
            <p>Bismillah developer has been shaping the diverse yet practical projects since 2003.
              Being the Developers, we have a philosophy to manage our projects with innovations
              and intensive cost management measures in order to meet the requirements of massive
              demand. Our portfolio includes projects which became a trademark of luxury in low
              cast segmentation. </p>
            <p>Our principal aim is to add extra value by combining essential facilities with
              vibrant features. In the past few years, we have calibrated ourselves with latest
              techniques of architectures, standardization, modern equipment, globally acclaimed
              systems, and protocols. You may expect a glimpse of diversification by combining
              cultural and traditional attributes with emerging trends in our upcoming projects.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--about info-->

  <!--about terms-->
  <section id="about_item">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="about_item_details">
            <h4>Our Mission</h4>
            <p>We will accomplish our vision by delivering exceptional value and services to our customers through
              excellence with competitive pricing. We believe in honest commitments, flexibility, innovation, and
              teamwork.
            </p>
            <img src="../../assets/images/about/about-icon1.png" alt="about-icon1">
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="about_item_details">
            <h4>Our vision</h4>
            <p>To become a trendsetter of providing luxury livings with world-class standards.
            </p>
            <img src="../../assets/images/about/about-icon2.png" alt="about-icon1">
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="about_item_details">
            <h4>Our Values</h4>
            <p>Our customers receive the most optimal product at the most competitive pricings. Our policies and
              practices adhere the highest international standards within the minimal operational cost.
            </p>
            <img src="../../assets/images/about/about-icon3.png" alt="about-icon1">
          </div>
        </div>
        <!-- <div class="col-md-6 col-lg-4">
                  <div class="about_item_details">
                      <h4>Our Mission</h4>
                      <p>Bismillah Developer’s vision is to be the leading construction company in our chosen
                          markets, sought after by potential clients and employees for our track record in
                          reliable execution, cost-effectiveness, and world-class technical sophistication.
                      </p>
                      <img src="../../assets/images/about/about-icon4.png" alt="about-icon1">
                  </div>
              </div> -->
      </div>
    </div>
  </section>
  <!--about terms-->

  <!--about newsletter-->
  <section id="about_newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="newsletter-left">
            <h5>stay updated with out </h5>
            <h3>Newsletter</h3>
            <p>Interested in becomeing a part of our growing community? Sign up for our newsletter
              to stay up to date on our weekly inventions.</p>
          </div>
        </div>
        <div class="col-md-6">
          <form class="newsletter-right">
            <input type="text" placeholder="Enter your email">
            <img src="../../assets/images/about/form-arrow.png" alt="form-arrow">
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--about newsletter-->

  <!--about counter-->
  <section id="about_counter">
    <div class="container">
      <div class="counter-detail">
        <ul>
          <li><span class="counter">04</span>
            <p>Projects</p>
          </li>
          <li><span class="counter">650</span>
            <p>Employees</p>
          </li>
          <li><span class="counter">14</span>
            <p>Awards</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!--about counter-->

  <!--about footer-->
  <section id="about_footer">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h6>Being a unique project by itself, Bismillah Developer is now offering to maintain and
            bring a rise in the standards of giving a chance to people to pursue a luxurious
            lifestyle. It furthermore has several amenities and parks for bringing joy to its
            residents. There are 3- Marla, 5-Marla, 10-Marla and 1-Kanal homes in this project
            supported by outstanding architecture as well as lavish facilities for the residents.
            There is a healthy atmosphere and green environment around Bismillah Developers.</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 text-center">
          <img src="../../assets/images/about/about-footer-icon1.png" alt="about-footer-icon1">
        </div>
        <div class="col-md-6 col-lg-3 text-center">
          <img src="../../assets/images/about/about-footer-icon2.png" alt="about-footer-icon2">
        </div>
        <div class="col-md-6 col-lg-3 text-center">
          <img src="../../assets/images/about/about-footer-icon3.png" alt="about-footer-icon3" class="last">
        </div>
      </div>
    </div>
  </section>
  <!--about footer-->
</div>
<!--Mian Content-->
