<header id="Header">
  <div class="header_overlay">
    <div class="Wrapper">

      <!-- Top -->
      <div class="top">

        <a id="logo" routerLink="/" title="Capital Source Corporation">
          <img src="assets/uploads/2012/07/logo6.png" alt="Capital Source Corporation" />
        </a>

        <div class="top_options">

          <!-- Top links -->
          <ul class="top_links">








          </ul>

          <!-- Call us -->
          <div class="call_us">
            <span>(416) </span>645-1667
          </div>


        </div>

        <!-- Navigation -->
        <nav id="navigation">
          <ul>
            <li class="page_item page-item-14"><a href="../index.html">Home</a></li>
            <li class="page_item page-item-58 page_item_has_children"><a href="../services/index.html">Services</a>
              <ul class='children'>
                <li class="page_item page-item-60"><a href="../services/candidate-selection/index.html">Candidate
                    Selection</a></li>
                <li class="page_item page-item-65"><a href="../services/why-choose-capital-source/index.html">Why Choose
                    Capital Source</a></li>
                <li class="page_item page-item-67"><a href="../services/what-you-save/index.html">What You Save</a></li>
              </ul>
            </li>
            <li class="page_item page-item-113 page_item_has_children current_page_item"><a href="index.html"
                aria-current="page">About Us</a>
              <ul class='children'>
                <li class="page_item page-item-115"><a href="our-company/index.html">Our Company</a></li>
                <li class="page_item page-item-124"><a href="core-values-and-philosophy/index.html">Core Values and
                    Philosophy</a></li>
              </ul>
            </li>
            <li class="page_item page-item-138 page_item_has_children"><a href="../job-seekers/index.html">Job
                Seekers</a>
              <ul class='children'>
                <li class="page_item page-item-148"><a href="../job-seekers/apply-now/index.html">Apply Now</a></li>
                <li class="page_item page-item-225"><a href="../job-seekers/jobs-pink/index.html">Jobs Pink</a></li>
              </ul>
            </li>
            <li class="page_item page-item-160"><a href="../contact-us/index.html">Contact Us</a></li>
          </ul>
        </nav>

      </div>
      <!-- Subpage header -->
      <section class="subpage_header">

        <h1>About Us</h1>
        <ul class="breadcrumbs">
          <li class="home">You are here:</li>
          <li><a href="../index.html">Home</a></li>
          <li class="last"><a href="https://capitalsource.ca:443/about-us/">About Us</a></li>
        </ul>
      </section>
    </div>
  </div>
</header>
<!-- Content -->
<div id="Content">
  <div class="Wrapper">

    <div class="content">


      <div id="post-113" class="post-113 page type-page status-publish hentry">
        <h2>From here:</h2>
        <div class="col one_second"><a title="Our Company" href="our-company/index.html"><img loading="lazy"
              class="alignnone size-full wp-image-134" title="about1" src="../wp-content/uploads/2012/07/about11.png"
              alt="" width="450" height="450"
              srcset="https://capitalsource.ca/wp-content/uploads/2012/07/about11.png 450w, https://capitalsource.ca/wp-content/uploads/2012/07/about11-150x150.png 150w, https://capitalsource.ca/wp-content/uploads/2012/07/about11-300x300.png 300w, https://capitalsource.ca/wp-content/uploads/2012/07/about11-50x50.png 50w, https://capitalsource.ca/wp-content/uploads/2012/07/about11-370x370.png 370w, https://capitalsource.ca/wp-content/uploads/2012/07/about11-60x60.png 60w, https://capitalsource.ca/wp-content/uploads/2012/07/about11-315x315.png 315w"
              sizes="(max-width: 450px) 100vw, 450px" /></a> </div>

        <div class="col one_second"><a title="Core Values" href="core-values-and-philosophy/index.html"><img
              loading="lazy" class="alignnone size-full wp-image-135" title="about-2"
              src="../wp-content/uploads/2012/07/about-21.png" alt="" width="450" height="450"
              srcset="https://capitalsource.ca/wp-content/uploads/2012/07/about-21.png 450w, https://capitalsource.ca/wp-content/uploads/2012/07/about-21-150x150.png 150w, https://capitalsource.ca/wp-content/uploads/2012/07/about-21-300x300.png 300w, https://capitalsource.ca/wp-content/uploads/2012/07/about-21-50x50.png 50w, https://capitalsource.ca/wp-content/uploads/2012/07/about-21-370x370.png 370w, https://capitalsource.ca/wp-content/uploads/2012/07/about-21-60x60.png 60w, https://capitalsource.ca/wp-content/uploads/2012/07/about-21-315x315.png 315w"
              sizes="(max-width: 450px) 100vw, 450px" /></a> </div>

      </div>
    </div>

  </div>
</div>


<!-- Footer -->
<footer id="Footer">
  <div class="Wrapper">



    <div class="row clearfix">

      <div class="widget-area col one_second">
        <aside id="text-2" class="widget widget_text">
          <h5 class="widget-title">Contact Us</h5>
          <div class="textwidget">
            <p><b>Address:</b></p>
            <ul>
              <li>400 Canarctic Drive,</li>
              <li>Toronto, ON</li>
              <li>M3J 2V3</li>
            </ul>
            <p><strong>Phone:</strong> 416-645-1667<br />
              <strong>Fax:</strong> 416-665-2223<br />
              <strong>Toll Free:</strong> 1-866-255-3015<br />
              <strong>Email:</strong> info@capitalsource.ca
            </p>
          </div>
        </aside>
      </div>




      <div class="widget-area col one_second last">
        <aside id="text-3" class="widget widget_text">
          <h5 class="widget-title">A Professional Staffing Agency</h5>
          <div class="textwidget">
            <p><strong>Capital Source has been revolutionizing the recruitment process since 2005.</strong></p>
            <p>Our commitment to client satisfaction and steady financial growth has given many the edge in the
              competitive marketplace. Call now and learn more about the Capital Source advantage.</p>
          </div>
        </aside>
      </div>


    </div>
    <div class="row clearfix">

      <div class="two_third col">

        <div class="copyrights">
          <p class="author">&copy; 2021 <span>Capital Source Corporation</span>. All Rights Reserved. Website Design by
            <a href="http://www.onlymethod.com/">Only Method Web Services</a>.
          </p>

        </div>

      </div>

      <div class="one_third col last">
        <a class="back_to_top" href="#" title="Back to top">Back to top</a>
      </div>

    </div>

  </div>
</footer>
