<div class="landing-page">
<nav>
  <a href="">
    <img src="../assets/images/hamburger.png" alt="Hamburger">
  </a>
</nav>
  <header>
    <img src="../assets/images/logo.png" alt="Bismillah Developers">
    <div class="header-info">
      <a href='mailto:info@bismillahdevelopers.pk'><label>
        <img src="../assets/images/mail.png" alt="Mail">
         info@bismillahdevelopers.pk
      </label></a>
      <a href="tel:111191192">
        <label>
        <img src="../assets/images/phone.png" alt="Phone">
        111-191-192
        </label>
      </a>
      <a href=''><img src="../assets/images/facebook.png" alt="Facebook"></a>
      <a href=''><img src="../assets/images/instagram.png" alt="Instagram"></a>
      <a href=''><img src="../assets/images/twitter.png" alt="Twitter"></a>
      <a href=''><img src="../assets/images/linkdin.png" alt="Linkdin"></a>
    </div>
  </header>
  <main>
    <!-- <div class="main-background">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img src="{{ slide.img }}" alt="" width="100%">
        </div>
      </ngx-slick-carousel>
    </div> -->
    <div class="bmh-banner">
      <img src="../assets/images/bmhs.png" alt="Bismillah Housing society">
      <div class="bmh-banner-content">
        <h3>Affordable Residential Plots on Easy Installments.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Quisque elefend finibus</p>
        <div class="location">
          <img src="../assets/images/location.png" alt="Location">
           Estibulum Mauris at Imperdie Estibulum
        </div>
      </div>
      <a href="#" class="btn btn-primary btn-view-project">View Project <img src="../assets/images/chevron.png" alt="Chevron"></a>
    </div>
    <div class="bmh-projects">
      <div class="project">
        <img src="../assets//images/projectimage.png" alt="Society">
        <div class="project-content">
          <h3>Bismillah Farmhouse Kallar Kahar</h3>
          <p>Being a unique project by itself, Bismillah..... Developer is</p>
        </div>
      </div>
      <div class="project">
        <img src="../assets//images/projectimage.png" alt="Society">
        <div class="project-content">
          <h3>Bismillah Farmhouse Kallar Kahar</h3>
          <p>Being a unique project by itself, Bismillah..... Developer is</p>
        </div>
      </div>
      <div class="project">
        <img src="../assets/images/projectimage.png" alt="Society">
        <div class="project-content">
          <h3>Bismillah Farmhouse Kallar Kahar</h3>
          <p>Being a unique project by itself, Bismillah..... Developer is</p>
        </div>
      </div>
    </div>
  </main>
  </div>