<div class="upcoming_banner">
  <img src="../assets/images/upcoming/upcoming-banner-logo.png" alt="" class="upcoming-banner-logo">
  <img src="../assets/images/upcoming/upcoming-comingsoon.png" alt="" class="upcoming-comingsoon">
  <div class="upcoming-banner-info">
    <p>While carrying on the legacy of BHS phase-I, Bismillah Developers proudly present the ambitious extensiton titled
      Bismillah Housing Society Phase-II. Residents of the new phase may enjoy the features of phase-I as well as the
      novelty of emerging expansion. </p>
  </div>
</div>
<app-footer></app-footer>
<!--Mian Content-->
