 <!--Mian Content-->
 <div id="home_main" >
  <div class="single-item">
    <div><img src="../assets/images/main-banner/Al-Raziq-main--Banners.png" alt="banner"></div>
    <div><img src="../assets/images/main-banner/banner02.png" alt="banner"></div>
    <div><img src="../assets/images/main-banner/banner03.png" alt="banner"></div>
    <div><img src="../assets/images/main-banner/banner04.png" alt="banner"></div>
    <div><img src="../assets/images/main-banner/banner05.png" alt="banner"></div>
  </div>

  <div class="home-details">
    <img src="../assets/images/home/alraziq-logo.png" alt="vector" class="vector">
    <div class="home_details_info">
      <h3>Affordable Residential Plots on Easy Installments</h3>
      <p><b>Fully developed around parks and gardens</b></p>
      <a href="#"><img src="../assets/images/home/location.png" alt="location"><b>Main Sharaqpur Road, Lahore</b>
      </a>
    </div>
    <div class="home-projects">
      <a routerLink="/project" >View Project <img src="../assets/images/home/right-arrow.png" alt="right-arrow"></a>
    </div>
  </div>
</div>
<!--Mian Content-->

<!--Bottom bar-->
<div id="bottom_bar">
  <ul>
    <li>
      <a href="#">
        <img src="../assets/images/home/img1.png" alt="img">
        <div class="bottom_bar_info">
          <h2 class="home-tiles">Bismillah Farmhouse Kallar Kahar</h2>
          <p>Being a unique project by itself, Bismillah Being a unique project by itself, Bismillah</p>
        </div>
      </a>
    </li>
    <li>
      <a href="/alraziq" target="_blank" >
        <img src="../assets/images/home/img2.png" alt="img">
        <div class="bottom_bar_info">
          <h2 class="home-tiles">Al-Raziq Garden</h2>
          <p>Being a unique project by itself, Bismillah Being a unique project by itself, Bismillah</p>
        </div>
      </a>
    </li>
    <li>
      <a href="/project" target="_blank">
        <img src="../assets/images/home/img3.png" alt="img">
        <div class="bottom_bar_info">
          <h2 class="home-tiles">Bismillah Housing</h2>
          <p>Being a unique project by itself, Bismillah Being a unique project by itself, Bismillah</p>
        </div>
      </a>
    </li>
  </ul>
</div>
<!--Bottom Bar-->