 <!--Mian Content-->
 <div id="project_main" class="multiple-scenes view-control-buttons">
   <div class="threeSixty-wrapper">
     <!--project banner-->
   <div id="pano"></div>

   <div id="sceneList">
     <ul class="scenes">
       <a href="javascript:void(0)" class="scene" data-id="oriente-station">
         <li class="text">Oriente Station</li>
       </a>
       <a href="javascript:void(0)" class="scene" data-id="electricity-museum">
         <li class="text">Electricity Museum</li>
       </a>
       <a href="javascript:void(0)" class="scene" data-id="jeronimos">
         <li class="text">Jerónimos Monastery</li>
       </a>
     </ul>
   </div>

   <div id="titleBar">
     <h1 class="sceneName"></h1>
   </div>

   <a href="javascript:void(0)" id="autorotateToggle">
     <img class="icon off" src="../assets/img/play.png">
     <img class="icon on" src="../assets/img/pause.png">
   </a>

   <a href="javascript:void(0)" id="fullscreenToggle">
     <img class="icon off" src="../assets/img/fullscreen.png">
     <img class="icon on" src="../assets/img/windowed.png">
   </a>

   <a href="javascript:void(0)" id="sceneListToggle">
     <img class="icon off" src="../assets/img/expand.png">
     <img class="icon on" src="../assets/img/collapse.png">
   </a>

   <a href="javascript:void(0)" id="viewUp" class="viewControlButton viewControlButton-1">
     <img class="icon" src="../assets/img/up.png">
   </a>
   <a href="javascript:void(0)" id="viewDown" class="viewControlButton viewControlButton-2">
     <img class="icon" src="../assets/img/down.png">
   </a>
   <a href="javascript:void(0)" id="viewLeft" class="viewControlButton viewControlButton-3">
     <img class="icon" src="../assets/img/left.png">
   </a>
   <a href="javascript:void(0)" id="viewRight" class="viewControlButton viewControlButton-4">
     <img class="icon" src="../assets/img/right.png">
   </a>
   <a href="javascript:void(0)" id="viewIn" class="viewControlButton viewControlButton-5">
     <img class="icon" src="../assets/img/plus.png">
   </a>
   <a href="javascript:void(0)" id="viewOut" class="viewControlButton viewControlButton-6">
     <img class="icon" src="../assets/img/minus.png">
   </a>
   </div>
   <!--project banner-->
   <!--project overview-->
   <section id="project_overview">
     <div class="container">
       <div class="row">
         <div class="col-md-12 col-lg-6">
           <img src="../assets/images/project/overview-logo.png" alt="overview-logo" class="img-fluid">
         </div>
         <div class="col-md-12 col-lg-6">
           <div class="overview_intro">
             <h2 class="project_title">Overview</h2>
             <p>Being a unique project by itself, Bismillah Developer is now offering to maintain and
               bring a rise in the standards of giving a chance to people to pursue a luxurious
               lifestyle. It furthermore has several amenities and parks for bringing joy to its
               residents.</p>
             <p>There are 3- Marla, 5-Marla, 10-Marla and 1-Kanal homes in this project supported by
               outstanding architecture as well as lavish facilities for the residents. There is a
               healthy atmosphere and green environment around Bismillah Developers.</p>
           </div>
         </div>
       </div>
       <div class="row overview_items">
         <div class="col-md-6">
           <ul>
             <li>
               <img src="../assets/images/project/overview-icon1.png" alt="overview-icon1">
               <p>Completed</p>
             </li>
             <li>
               <img src="../assets/images/project/overview-icon2.png" alt="overview-icon1">
               <p>G.T Road Lahore</p>
             </li>
             <li>
               <img src="../assets/images/project/overview-icon3.png" alt="overview-icon1">
               <p>Living Communtiy</p>
             </li>
             <li>
               <img src="../assets/images/project/overview-icon4.png" alt="overview-icon1">
               <p>18,000 SQ-YD</p>
             </li>
             <li>
               <img src="../assets/images/project/overview-icon5.png" alt="overview-icon1">
               <p>Save & Secure</p>
             </li>
             <li>
               <img src="../assets/images/project/overview-icon6.png" alt="overview-icon1">
               <p>Walled Society</p>
             </li>
             <li>
               <img src="../assets/images/project/overview-icon7.png" alt="overview-icon1">
               <p>2000 Commercial Plots</p>
             </li>
             <li>
               <img src="../assets/images/project/overview-icon8.png" alt="overview-icon1">
               <p>5000 Resedentails Plots</p>
             </li>
             <li>
               <img src="../assets/images/project/overview-icon9.png" alt="overview-icon1">
               <p>Booking Open</p>
             </li>
           </ul>
         </div>
         <div class="col-md-6">
           <div class="overview_bg">
             <img src="../assets/images/project/overview-bg.png" alt="overview-bg" class="img-fluid">
           </div>
         </div>
       </div>
     </div>
   </section>
   <!--project overview-->
   <!--project features-->
   <section id="project_features">
     <div class="container">
       <div class="row">
         <div class="col-12 text-center">
           <h2 class="project_title">Features & Amenities</h2>
         </div>
       </div>
       <div class="row">
         <div class="col-12">
           <ul>
             <li class="feature-img1">
               <div class="features_info">
                 <img src="../assets/images/project/feature-icon1.png" alt="feature-icon1">
                 <p>24/7 Electricity</p>
               </div>
             </li>
             <li class="feature-img2">
               <div class="features_info">
                 <img src="../assets/images/project/feature-icon2.png" alt="feature-icon1">
                 <p>Sports Complex</p>
               </div>
             </li>
             <li class="feature-img3">
               <div class="features_info">
                 <img src="../assets/images/project/feature-icon3.png" alt="feature-icon1">
                 <p>24/7 Security</p>
               </div>
             </li>
             <li class="feature-img4">
               <div class="features_info">
                 <img src="../assets/images/project/feature-icon4.png" alt="feature-icon1">
                 <p>Super Market</p>
               </div>
             </li>
             <li class="feature-img5">
               <div class="features_info">
                 <img src="../assets/images/project/feature-icon5.png" alt="feature-icon1">
                 <p>Survellance Systems</p>
               </div>
             </li>
             <li class="feature-img6">
               <div class="features_info">
                 <img src="../assets/images/project/feature-icon6.png" alt="feature-icon1">
                 <p>Community Center</p>
               </div>
             </li>
             <li class="feature-img7">
               <div class="features_info">
                 <img src="../assets/images/project/feature-icon7.png" alt="feature-icon1">
                 <p>Hospital</p>
               </div>
             </li>
             <li class="feature-img8">
               <div class="features_info">
                 <img src="../assets/images/project/feature-icon8.png" alt="feature-icon1">
                 <p>Mosque</p>
               </div>
             </li>
             <li class="feature-img9">
               <div class="features_info">
                 <img src="../assets/images/project/feature-icon9.png" alt="feature-icon1">
                 <p>School</p>
               </div>
             </li>
             <li class="feature-img10">
               <div class="features_info">
                 <img src="../assets/images/project/feature-icon10.png" alt="feature-icon1">
                 <p>Playland</p>
               </div>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </section>
   <!--project features-->
   <!--project gallery-->
   <section id="project_gallery">
     <div class="container">
       <div class="row">
         <div class="col-12 text-center">
           <h2 class="project_title">Gallery</h2>
         </div>
       </div>

     </div>
     <div class="gallery_wrapper">
       <div class="container">
         <div class="row">
           <div class="slick-wrapper">
             <div id="slick1">
               <div class="slide-item"><img src="../assets/images/project/gallery-img1.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img2.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img3.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img4.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img5.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img6.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img7.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img8.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img1.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img1.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img3.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img4.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img5.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img6.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img7.png" alt="gallery-img">
               </div>
               <div class="slide-item"><img src="../assets/images/project/gallery-img8.png" alt="gallery-img">
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!--project gallery-->
   <!--project videos-->
   <section id="project_videos">
     <div class="container">
       <div class="row">
         <div class="col-12 text-center">
           <h2 class="project_title">Videos</h2>
           <p>Bismillah Developer is now offering to maintain and bring a rise in the standards of
             giving a<br> chance to people to pursue a luxurious lifestyle.</p>
         </div>
       </div>
       <div class="row">
         <div class="col-12">
           <div class="gallery">
             <div class="gallery-container">
               <img class="gallery-item" src="../assets/images/project/video.bg1.png">
               <img class="gallery-item" src="../assets/images/project/video.bg2.png">
               <img class="gallery-item" src="../assets/images/project/video.bg3.png">
               <img class="gallery-item" src="../assets/images/project/video.bg1.png">
               <img class="gallery-item" src="../assets/images/project/video.bg2.png">
             </div>
             <div class="gallery-controls"></div>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!--project videos-->
   <!--project location-->
   <section id="project_location">
     <div class="container">
       <div class="row">
         <div class="col-12 text-center">
           <h2 class="project_title">Location</h2>
         </div>
       </div>
     </div>

     <div class="container-fluid p-0">
       <div class="row no-gutters">
         <div class="col-md-12 col-lg-7">
           <iframe src="https://www.google.com/maps?q=&z=14&t=&ie=UTF8&output=embed"
             style="height: 600px; width: 100%;"></iframe><noscript> Full functionality of this site
             requires JavaScript to
             be enabled. Learn how to <a href="https://javascriptdownload.org/">Download
               JavaScript/</a> in your browser.</noscript>
         </div>
         <div class="col-md-12 col-lg-5 d-flex align-items-center">
           <div class="location_info">
             <img src="../assets/images/project/project-location.png" alt="project_location">
             <h3>Bismillah Housing Scheme Head Office Main<br> G.T Road Bank Stop Manawan Lahore.
             </h3>
             <ul>
               <li>On main Canal Bank Road, 6 km from Shahkam Chowk</li>
               <li>1 km from Lahore ring road SL-3 interchange (Multan Road )</li>
               <li>10 minutes away from Ferozepur Road</li>
               <li>15 minute drive from M2 interchange</li>
               <li>20 minutes from DHA Lahore</li>
               <li>25 minutes away from Lahore Airport</li>
               <li>3 minutes away from Main Multan road</li>
               <li>10 minutes away from Main Multan road</li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!--project location-->
   <!--project enquiry-->
   <section id="project_enquiry">
     <div class="container">
       <div class="row">
         <div class="col-12 text-center">
           <h2 class="project_title">Enquiry</h2>
           <p>Doing the right thing, at the right time</p>
         </div>
       </div>
       <form class="row">
         <div class="mb-3 col-md-6 col-lg-3">
           <input type="text" class="form-control" id="fullName" placeholder="Full Name">
         </div>
         <div class="mb-3 col-md-6 col-lg-3">
           <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
         </div>
         <div class="mb-3 col-md-6 col-lg-3">
           <input type="text" class="form-control" id="mobileNo" placeholder="Mobile No">
         </div>
         <div class="mb-3 col-md-6 col-lg-3">
           <input type="text" class="form-control" id="city" placeholder="City">
         </div>
       </form>
       <div class="row">
         <div class="col-md-9">
           <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="10"
             placeholder="Message"></textarea>
         </div>
         <div class="col-md-3">
           <button class="btn btn-primary" type="submit">Submit</button>
           <button class="btn btn-secondary">Download Profile</button>
         </div>
       </div>
     </div>
   </section>
   <!--project enquiry-->
 </div>
 <!--Mian Content-->
