  <!-- Navigation -->
  <div class="sticky-header">
    <div class="menu-btn fixed-menu">
      <div class="menu-wrap">
        <img src="assets/images/home/hamburger.png" alt="hamburger" id="open-side">
        <i class="fa fa-close fa-2x" aria-hidden="true" id="close-side"></i>
      </div>
    </div>
    <div class="wrapper animate-menu">
      <div class="side-menu">
        <nav id="sidebar" class="navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About Us <img src="../assets/images/home/right-arrow.png"
                  alt="right-arrow" class="arrow-white"> <img src="../assets/images/home/right-arrow-black.png"
                  alt="right-arrow" class="arrow-black"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Projects <img src="../assets/images/home/right-arrow.png"
                alt="right-arrow" class="arrow-white"> <img src="../assets/images/home/right-arrow-black.png"
                alt="right-arrow" class="arrow-black"></a>
              <ul>
                <li>
                  <a href="javascript:void(0)" class="nav-link">Complete Projects <img src="../assets/images/home/right-arrow.png"
                    alt="right-arrow" class="arrow-white"> <img src="../assets/images/home/right-arrow-black.png"
                    alt="right-arrow" class="arrow-black"></a>
                  <ul>
                    <li>
                      <a href="/project" target="_blank" class="nav-link">Bismillah</a>
                    </li>
                    <li>
                      <a routerLink="/alraziq" target="_blank" class="nav-link">Al Raziq</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:void(0)" class="nav-link">Upcoming Projects<img src="../assets/images/home/right-arrow.png"
                    alt="right-arrow" class="arrow-white"> <img src="../assets/images/home/right-arrow-black.png"
                    alt="right-arrow" class="arrow-black"></a>
                    <ul>
                      <li>
                        <a href="/upcoming" class="nav-link">Bismillah Housing Society Phase II</a>
                      </li>
                      <li>
                        <a routerLink="/supreme-city" class="nav-link">SupremeCity</a>
                      </li>
                      <li>
                        <a routerLink="/kallar-kahar" class="nav-link">KallarKahar</a>
                      </li>
                    </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/service">Services <img src="../assets/images/home/right-arrow.png"
                  alt="right-arrow" class="arrow-white"> <img src="../assets/images/home/right-arrow-black.png"
                  alt="right-arrow" class="arrow-black"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lifestyle">Lifestyle <img src="../assets/images/home/right-arrow.png"
                  alt="right-arrow" class="arrow-white"> <img src="../assets/images/home/right-arrow-black.png"
                  alt="right-arrow" class="arrow-black"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dealership">Dealership <img src="../assets/images/home/right-arrow.png"
                  alt="right-arrow" class="arrow-white"> <img src="../assets/images/home/right-arrow-black.png"
                  alt="right-arrow" class="arrow-black"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact Us <img src="../assets/images/home/right-arrow.png"
                  alt="right-arrow" class="arrow-white"> <img src="../assets/images/home/right-arrow-black.png"
                  alt="right-arrow" class="arrow-black"></a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
    <!-- <div class="overlay"></div> -->
  </div>
  <!-- Navigation -->

  <!--Top Bar-->
  <div id="top_bar" [ngClass]="getClass()">
    <div class="d-flex">
      <a href="#" class="logo"><img src="../assets/images/home/logo.png" alt="logo"></a>
      <a href="#" class="logo2"><img src="../assets/images/project/header-icon3.png" alt="logo" *ngIf="checkIfToShow()"></a>
      <a href="#" class="logo3"><img src="../assets/images/alraziq/header-logo-alraziq.png" alt="logo" *ngIf="checkIfToShow()"></a>
      <a href="#" class="logo4"><img src="../assets/images/upcoming/upcoming-logo.png" alt="logo"></a>
      <a href="#" class="logo5"><img src="../assets/images/upcoming/kallar-kahar-logo.png" alt="logo"></a>
      <a href="#" class="logo6"><img src="../assets/images/upcoming/supreme-logo.png" alt="logo"></a>
    </div>

    <ul>
      <li><a href="mailto:info@Bismillahdevelops.pk"><img src="../assets/images/home/mail.png"
            alt="mail"><span>info@Bismillahdevelops.pk</span></a>
      </li>
      <li><a href="tel:+111-191-132"><img src="../assets/images/home/phone.png" alt="phone"><span>111-191-132</span></a>
      </li>
      <li><a target="_blank" href="https://www.facebook.com/bismillahhousingscheme.official"><img src="../assets/images/home/facebook.png" alt="facebook"></a></li>
      <li><a href="#"><img src="../assets/images/home/instagram.png" alt="instagram"></a></li>
      <li><a href="#"><img src="../assets/images/home/twitter.png" alt="twitter"></a></li>
      <li><a href="#"><img src="../assets/images/home/linkdin.png" alt="linkdin"></a></li>
    </ul>

  </div>

  <ul class="top_bar2" [ngClass]="getClass()" *ngIf="checkIfToShow()">
    <li><a (click) ="scrollIntoView('project_overview')">Overview</a>
    </li>
    <li><a (click) ="scrollIntoView('project_features')">Features</a>
    </li>
    <li><a (click) ="scrollIntoView('project_gallery')">Gallery</a></li>
    <li><a (click) ="scrollIntoView('project_videos')">Videos</a></li>
    <li><a (click) ="scrollIntoView('project_location')">Location</a></li>
    <li><a (click) ="scrollIntoView('project_enquiry')">Enquiry</a></li>
  </ul>
  <!--Top Bar-->
