<header id="Header">
  <div class="header_overlay">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a id="logo" class="navbar-brand" href="index.html"> <!-- <img src="assets/logo.jpg" alt="Capital Source Corporation" /> --></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span></span>
         <span></span>
         <span></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="top">
            <div class="top_options">
              <!-- Call us -->
              <div class="call_us">
                <span>(416) </span>645-1667
              </div>
            </div>
            <!-- Navigation -->
            <nav id="navigation">
              <ul>
                <li class="page_item page-item-14 current_page_item"><a routerLink="/" aria-current="page">Home</a></li>
                <li class="page_item page-item-58 page_item_has_children"><a routerLink="/service"
                    routerLinkActive="router-link-active">Services</a>
                  <ul class='children'>
                    <li class="page_item page-item-60"><a routerLink="/candidate-selection"
                        routerLinkActive="router-link-active">Candidate
                        Selection</a></li>
                    <li class="page_item page-item-65"><a routerLink="/why-choose" routerLinkActive="router-link-active">Why
                        Choose
                        Capital Source</a></li>
                    <li class="page_item page-item-67"><a routerLink="/what-you-save"
                        routerLinkActive="router-link-active">What You Save</a></li>
                  </ul>
                </li>
                <li class="page_item page-item-113 page_item_has_children"><a routerLink="/about"
                    routerLinkActive="router-link-active">About Us</a>
                  <ul class='children'>
                    <li class="page_item page-item-115"><a routerLink="/our-company"
                        routerLinkActive="router-link-active">Our Company</a></li>
                    <li class="page_item page-item-124"><a routerLink="/core-values"
                        routerLinkActive="router-link-active">Core Values
                        and Philosophy</a></li>
                  </ul>
                </li>
                <li class="page_item page-item-138 page_item_has_children"><a routerLink="/job-seeker"
                    routerLinkActive="router-link-active">Job Seekers</a>
                  <ul class='children'>
                    <li class="page_item page-item-148"><a routerLink="/apply-now">Apply Now</a></li>
                    <li class="page_item page-item-225"><a routerLink="/jobs-pink"
                        routerLinkActive="router-link-active">Jobs Pink</a></li>
                  </ul>
                </li>
                <li class="page_item page-item-160"><a routerLink="/contact" routerLinkActive="router-link-active">Contact
                    Us</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </nav>
      <!-- Top -->

      <section class="subpage_header">
        <div [ngSwitch]="router.url">
          <ng-container *ngSwitchCase="'/service'">
            <h1>Services</h1>
            <ul class="breadcrumbs">
              <li class="home">You are here:</li>
              <li><a routerLink="/">Home</a></li>
              <li class="last"><a href="/service">Services</a></li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="'/candidate-selection'">
            <h1>Services</h1>
            <ul class="breadcrumbs">
              <li class="home">You are here:</li>
              <li><a routerLink="/">Home</a></li>
              <li><a href="/service">Services</a></li>
              <li class="last"><a href="/candidate-selection">Candidate Selection</a></li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="'/why-choose'">
            <h1>Services</h1>
            <ul class="breadcrumbs">
              <li class="home">You are here:</li>
              <li><a routerLink="/">Home</a></li>
              <li><a href="/service">Services</a></li>
              <li class="last"><a href="/why-choose">Why Choose Capital Source</a></li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="'/what-you-save'">
            <h1>Services</h1>
            <ul class="breadcrumbs">
              <li class="home">You are here:</li>
              <li><a routerLink="/">Home</a></li>
              <li><a href="/service">Services</a></li>
              <li class="last"><a href="/what-you-save">What You Save</a></li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="'/about'">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
              <li class="home">You are here:</li>
              <li><a routerLink="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="'/our-company'">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
              <li class="home">You are here:</li>
              <li><a routerLink="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li class="last"><a href="/our-company">Our Company</a></li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="'/core-values'">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
              <li class="home">You are here:</li>
              <li><a routerLink="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li class="last"><a href="/core-values">Core Values and Philosophy</a></li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="'/job-seeker'">
            <h1>Job Seekers</h1>
            <ul class="breadcrumbs">
              <li class="home">You are here:</li>
              <li><a routerLink="/">Home</a></li>
              <li><a href="/job-seeker">Job Seekers</a></li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="'/apply-now'">
            <h1>Job Seekers</h1>
            <ul class="breadcrumbs">
              <li class="home">You are here:</li>
              <li><a routerLink="/">Home</a></li>
              <li><a href="/job-seeker">Job Seekers</a></li>
              <li class="last"><a href="/apply-now">Apply Now</a></li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="'/jobs-pink'">
            <h1>Job Seekers</h1>
            <ul class="breadcrumbs">
              <li class="home">You are here:</li>
              <li><a routerLink="/">Home</a></li>
              <li><a href="/job-seeker">Job Seekers</a></li>
              <li class="last"><a href="/jobs-pink">Jobs Pink</a></li>
            </ul>
          </ng-container>
          <ng-container *ngSwitchCase="'/contact'">
            <h1>Contact Us</h1>
            <ul class="breadcrumbs">
              <li class="home">You are here:</li>
              <li><a routerLink="/">Home</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </ng-container>
        </div>
      </section>
      <!-- Slider -->
      <ngx-slick-carousel *ngIf="router.url.indexOf('home') > -1" class="carousel" #slickModal="slick-carousel"
        [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="slider-wrapper">
            <div class="slide-info">
              <h2>Only <span>The Best</span></h2>
              <p>Capital Source manages to provide only the best; from top quality candidates to exceptional service.
                Why settle for less? Learn how Capital Source can help your business with professional solutions at
                competitive rates, call us today.</p>
              <a href="#" class="button-big button-big-orange"><span>Learn More</span></a>
            </div>
            <img src="{{ slide.img }}" alt="" class="img-fluid">
          </div>
        </div>
      </ngx-slick-carousel>
      <!-- <div id="Offer_slider">

        <ul id="os_cycle" class="slides">

          <li>

            <div class="image">

              <iframe src="http://www.youtube.com/embed/21WLZSyM9gs?wmode=opaque" width="530" height="350"
                frameborder="0" style="position:absolute; z-index:3;"></iframe>
              <div class="thumbnail" style="display:none">
                <img src="wp-content/uploads/2012/06/thhh1.png" alt="" />
              </div>

            </div>

            <div class="title">
              <div style="width:400px; top:0px; left: 550px; position:absolute; z-index:1;">
                <h2>Staffing <span>Solutions</span></h2>
              </div>
            </div>

            <div class="desc">
              <div style="width:400px; top:170px; left: 550px; position:absolute; z-index:4;">
                <p>Capital Source continues to enhance and fulfill Human Capital requirements in the ever-changing
                  market. Our comprehensive recruitment structure hand-picks the most qualified fit to fill the job;
                  making sure you have only the best working for you.</p>
                <a href="contact-us/index.html" class="button-big button-big-orange"><span>Contact Us</span></a>
              </div>
            </div>

          </li>
          <li>

            <div class="image">

              <img width="530" height="353" src="wp-content/uploads/2012/07/12-530x353.png"
                class="attachment-offer_slider size-offer_slider wp-post-image" alt="" loading="lazy"
                srcset="https://capitalsource.ca/wp-content/uploads/2012/07/12-530x353.png 530w, https://capitalsource.ca/wp-content/uploads/2012/07/12-300x199.png 300w, https://capitalsource.ca/wp-content/uploads/2012/07/12-90x60.png 90w, https://capitalsource.ca/wp-content/uploads/2012/07/12-472x315.png 472w, https://capitalsource.ca/wp-content/uploads/2012/07/12.png 548w"
                sizes="(max-width: 530px) 100vw, 530px" />
              <div class="thumbnail" style="display:none">
                <img width="90" height="60" src="wp-content/uploads/2012/07/12-90x60.png"
                  class="attachment-offer_slider_thumb size-offer_slider_thumb wp-post-image" alt="" loading="lazy"
                  srcset="https://capitalsource.ca/wp-content/uploads/2012/07/12-90x60.png 90w, https://capitalsource.ca/wp-content/uploads/2012/07/12-300x199.png 300w, https://capitalsource.ca/wp-content/uploads/2012/07/12-530x353.png 530w, https://capitalsource.ca/wp-content/uploads/2012/07/12-472x315.png 472w, https://capitalsource.ca/wp-content/uploads/2012/07/12-268x180.png 268w, https://capitalsource.ca/wp-content/uploads/2012/07/12.png 548w"
                  sizes="(max-width: 90px) 100vw, 90px" />
              </div>

            </div>

            <div class="title">
              <div style="width:400px; top:0px; left: 550px; position:absolute; z-index:1;">
                <h2>Only <span>The Best</span></h2>
              </div>
            </div>

            <div class="desc">
              <div style="width:400px; top:170px; left: 550px; position:absolute; z-index:4;">
                <p>Capital Source manages to provide only the best; from top quality candidates to exceptional service.
                  Why settle for less? Learn how Capital Source can help your business with professional solutions at
                  competitive rates, call us today.</p>
              </div>
            </div>

          </li>
          <li>

            <div class="image">

              <img width="530" height="327" src="wp-content/uploads/2012/07/2-530x327.png"
                class="attachment-offer_slider size-offer_slider wp-post-image" alt="" loading="lazy"
                srcset="https://capitalsource.ca/wp-content/uploads/2012/07/2-530x327.png 530w, https://capitalsource.ca/wp-content/uploads/2012/07/2-300x185.png 300w, https://capitalsource.ca/wp-content/uploads/2012/07/2-97x60.png 97w, https://capitalsource.ca/wp-content/uploads/2012/07/2-509x315.png 509w, https://capitalsource.ca/wp-content/uploads/2012/07/2.png 568w"
                sizes="(max-width: 530px) 100vw, 530px" />
              <div class="thumbnail" style="display:none">
                <img width="97" height="60" src="wp-content/uploads/2012/07/2-97x60.png"
                  class="attachment-offer_slider_thumb size-offer_slider_thumb wp-post-image" alt="" loading="lazy"
                  srcset="https://capitalsource.ca/wp-content/uploads/2012/07/2-97x60.png 97w, https://capitalsource.ca/wp-content/uploads/2012/07/2-300x185.png 300w, https://capitalsource.ca/wp-content/uploads/2012/07/2-530x327.png 530w, https://capitalsource.ca/wp-content/uploads/2012/07/2-509x315.png 509w, https://capitalsource.ca/wp-content/uploads/2012/07/2.png 568w"
                  sizes="(max-width: 97px) 100vw, 97px" />
              </div>

            </div>

            <div class="title">
              <div style="width:400px; top:0px; left: 550px; position:absolute; z-index:1;">
                <h2>Job <span>Seekers</span></h2>
              </div>
            </div>

            <div class="desc">
              <div style="width:400px; top:170px; left: 550px; position:absolute; z-index:4;">
                <p>The extensive range of job opportunities available allows placement that fits your lifestyle. Whether
                  it&#8217;s be short or long term commitment, Capital Source&#8217;s convenient online application
                  process can help you secure a job faster. </p>
              </div>
            </div>

          </li>
          <li>

            <div class="image">

              <img width="530" height="327" src="wp-content/uploads/2012/07/jklj1-530x327.png"
                class="attachment-offer_slider size-offer_slider wp-post-image" alt="" loading="lazy"
                srcset="https://capitalsource.ca/wp-content/uploads/2012/07/jklj1-530x327.png 530w, https://capitalsource.ca/wp-content/uploads/2012/07/jklj1-300x185.png 300w, https://capitalsource.ca/wp-content/uploads/2012/07/jklj1-97x60.png 97w, https://capitalsource.ca/wp-content/uploads/2012/07/jklj1-509x315.png 509w, https://capitalsource.ca/wp-content/uploads/2012/07/jklj1.png 568w"
                sizes="(max-width: 530px) 100vw, 530px" />
              <div class="thumbnail" style="display:none">
                <img width="97" height="60" src="wp-content/uploads/2012/07/jklj1-97x60.png"
                  class="attachment-offer_slider_thumb size-offer_slider_thumb wp-post-image" alt="" loading="lazy"
                  srcset="https://capitalsource.ca/wp-content/uploads/2012/07/jklj1-97x60.png 97w, https://capitalsource.ca/wp-content/uploads/2012/07/jklj1-300x185.png 300w, https://capitalsource.ca/wp-content/uploads/2012/07/jklj1-530x327.png 530w, https://capitalsource.ca/wp-content/uploads/2012/07/jklj1-509x315.png 509w, https://capitalsource.ca/wp-content/uploads/2012/07/jklj1.png 568w"
                  sizes="(max-width: 97px) 100vw, 97px" />
              </div>

            </div>

            <div class="title">
              <div style="width:400px; top:0px; left: 550px; position:absolute; z-index:1;">
                <h2>Our <span>Vision</span></h2>
              </div>
            </div>

            <div class="desc">
              <div style="width:400px; top:170px; left: 550px; position:absolute; z-index:4;">
                <p>Capital Source strives to envision and deliver the promise of success through unique strategies and
                  innovative concepts. We remain focused and committed to procuring capital success by a unified effort
                  of people; turning potential into tangible benefits for our clientele.</p>
              </div>
            </div>

          </li>
          <li>

            <div class="image">

              <img width="530" height="327" src="wp-content/uploads/2012/08/jobs-pink-530x327.png"
                class="attachment-offer_slider size-offer_slider wp-post-image" alt="" loading="lazy"
                srcset="https://capitalsource.ca/wp-content/uploads/2012/08/jobs-pink-530x327.png 530w, https://capitalsource.ca/wp-content/uploads/2012/08/jobs-pink-300x185.png 300w, https://capitalsource.ca/wp-content/uploads/2012/08/jobs-pink-97x60.png 97w, https://capitalsource.ca/wp-content/uploads/2012/08/jobs-pink-509x315.png 509w, https://capitalsource.ca/wp-content/uploads/2012/08/jobs-pink.png 568w"
                sizes="(max-width: 530px) 100vw, 530px" />
              <div class="thumbnail" style="display:none">
                <img width="97" height="60" src="wp-content/uploads/2012/08/jobs-pink-97x60.png"
                  class="attachment-offer_slider_thumb size-offer_slider_thumb wp-post-image" alt="" loading="lazy"
                  srcset="https://capitalsource.ca/wp-content/uploads/2012/08/jobs-pink-97x60.png 97w, https://capitalsource.ca/wp-content/uploads/2012/08/jobs-pink-300x185.png 300w, https://capitalsource.ca/wp-content/uploads/2012/08/jobs-pink-530x327.png 530w, https://capitalsource.ca/wp-content/uploads/2012/08/jobs-pink-509x315.png 509w, https://capitalsource.ca/wp-content/uploads/2012/08/jobs-pink.png 568w"
                  sizes="(max-width: 97px) 100vw, 97px" />
              </div>

            </div>

            <div class="title">
              <div style="width:400px; top:0px; left: 550px; position:absolute; z-index:1;">
                <h2>Jobs <span>Pink</span></h2>
              </div>
            </div>

            <div class="desc">
              <div style="width:400px; top:170px; left: 550px; position:absolute; z-index:4;">
                <p>Jobs Pink is the GTA&#8217;s fastest growing job board. Its a great way for employers to find quality
                  candidates manually, and a free, simple way for job seekers to find a jobs that suits them.</p>
                <a href="job-seekers/jobs-pink/index.html" class="button-big button-big-orange"><span>Learn
                    More</span></a>
              </div>
            </div>

          </li>

        </ul>

        <div class="controls">
          <div class="header">
            <h3>What we</h3>
            <h2>offer:</h2>

          </div>
        </div>

      </div> -->


    </div>
  </div>
</header>
