<footer id="Footer">
  <div class="container">



    <div class="row">

      <div class="widget-area col-md-6">
        <aside id="text-2" class="widget widget_text">
          <h5 class="widget-title">Contact Us</h5>
          <div class="textwidget">
            <p><b>Address:</b></p>
            <ul>
              <li>5−1500 MEYERSIDE DR,</li>
              <li>MISSISSAUGA, ONTARIO CANADA</li>
              <li>L3T1V4</li>
            </ul>
            <p><strong>Phone:</strong> 905-564-5419
              <br />
              <!-- <strong>Fax:</strong> 416-665-2223<br /> -->
              <!-- <strong>Toll Free:</strong> 1-866-255-3015<br /> -->
              <strong>Email:</strong> info@pinnaclehr.ca
            </p>
          </div>
        </aside>
      </div>




      <div class="widget-area col-md-6 last">
        <aside id="text-3" class="widget widget_text">
          <h5 class="widget-title">A Professional Staffing Agency</h5>
          <div class="textwidget">
            <p><strong>Pinnacle has been revolutionizing the recruitment process since 2005.</strong></p>
            <p>Our commitment to client satisfaction and steady financial growth has given many the edge in the
              competitive marketplace. Call now and learn more about the Pinnacle advantage.</p>
          </div>
        </aside>
      </div>


    </div>
    <div class="row">

      <div class="col-12">

        <div class="copyrights">
          <p class="author">&copy; 2021 <span>Pinnacle Corporation</span>. All Rights Reserved. Website Design by
            <a href="http://www.onlymethod.com/">Only Method Web Services</a>.</p>

        </div>

      </div>

      <div class="one_third col last">
        <a class="back_to_top" href="#" title="Back to top">Back to top</a>
      </div>

    </div>

  </div>
</footer>
