<div _ngcontent-upm-c16="" class="">
  <div _ngcontent-upm-c16="" id="main">
    <main _ngcontent-upm-c16="">
      <div _ngcontent-upm-c16="" id="wrapper">
        <div _ngcontent-upm-c16="" class="root responsivegrid">
          <div
            _ngcontent-upm-c16=""
            class="aem-Grid aem-Grid--12 aem-Grid--default--12"
          >
            <div
              _ngcontent-upm-c16=""
              class="skiplinks aem-GridColumn aem-GridColumn--default--12"
            >
              <div _ngcontent-upm-c16="" class="skip-links">
                <nav _ngcontent-upm-c16="" aria-label="skip-links"></nav>
              </div>
            </div>
            <div
              _ngcontent-upm-c16=""
              class="headerbar aem-GridColumn aem-GridColumn--default--12"
            >
              <div _ngcontent-upm-c16="" id="main-navigation-container">
                <div
                  _ngcontent-upm-c16=""
                  id="main-navigation"
                  role="navigation"
                  itemscope="itemscope"
                  itemtype="http://schema.org/SiteNavigationElement"
                  class="hidden"
                >
                  <div _ngcontent-upm-c16="" class="nav-inner-container">
                    <div _ngcontent-upm-c16="" class="inner-container">
                      <nav
                        _ngcontent-upm-c16=""
                        id="menu-nav"
                        role="navigation"
                        itemscope="itemscope"
                        itemtype="http://schema.org/SiteNavigationElement"
                        class="visible-xs"
                      >
                        <div _ngcontent-upm-c16="" class="side-menu">
                          <form
                            _ngcontent-upm-c16=""
                            id="search-form-mobile"
                            action="https://www.nab.com.au/search"
                            method="get"
                            class="search-form-mobile"
                          >
                            <fieldset _ngcontent-upm-c16="">
                              <legend _ngcontent-upm-c16="">Search</legend>
                              <label
                                _ngcontent-upm-c16=""
                                for="side-menu-search"
                                class="nab-header-search__label-mobile"
                                >Search nab.com.au</label
                              ><input
                                _ngcontent-upm-c16=""
                                id="side-menu-search"
                                name="term"
                                autocomplete="off"
                                aria-label="Search nab.com.au"
                                type="search"
                                class="ac-input input-not-empty"
                              />
                              <div _ngcontent-upm-c16="" class="animate-label">
                                Search nab.com.au
                              </div>
                              <div
                                _ngcontent-upm-c16=""
                                class="nab-button-icon--white"
                              >
                                <a
                                  _ngcontent-upm-c16=""
                                  href="#"
                                  aria-label="Search"
                                  class="nab-button nab-header-search__search-button-mobile"
                                  ><svg
                                    _ngcontent-upm-c16=""
                                    aria-hidden="true"
                                    focusable="false"
                                  >
                                    <use
                                      _ngcontent-upm-c16=""
                                      xlink:href="#icon-search"
                                    ></use>
                                  </svg>
                                </a>
                              </div>
                            </fieldset>
                          </form>
                          <ul _ngcontent-upm-c16="" id="navigation">
                            <li
                              _ngcontent-upm-c16=""
                              class="navigation__item--level-1"
                            >
                              <a
                                _ngcontent-upm-c16=""
                                href="#"
                                aria-expanded="false"
                                data-menuitem="1"
                                ><span _ngcontent-upm-c16="">Personal</span
                                ><svg
                                  _ngcontent-upm-c16=""
                                  aria-hidden="true"
                                  focusable="false"
                                >
                                  <use
                                    _ngcontent-upm-c16=""
                                    xlink:href="#icon-add"
                                  ></use>
                                </svg>
                              </a>
                              <ul _ngcontent-upm-c16="">
                                <li
                                  _ngcontent-upm-c16=""
                                  class="parent navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/personal"
                                    data-menulevel="2"
                                    data-menuitem-index="0"
                                    class="parentList"
                                  >
                                    Personal home
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/personal/accounts"
                                    data-menulevel="2"
                                    data-menuitem-index="1"
                                    class="childList"
                                  >
                                    Bank accounts
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/personal/credit-cards"
                                    data-menulevel="2"
                                    data-menuitem-index="2"
                                    class="childList"
                                  >
                                    Credit cards
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/personal/personal-loans"
                                    data-menulevel="2"
                                    data-menuitem-index="3"
                                    class="childList"
                                  >
                                    Personal loans
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/personal/home-loans"
                                    data-menulevel="2"
                                    data-menuitem-index="4"
                                    class="childList"
                                  >
                                    Home loans
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/personal/online-banking"
                                    data-menulevel="2"
                                    data-menuitem-index="5"
                                    class="childList"
                                  >
                                    Online banking
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/personal/private-wealth"
                                    data-menulevel="2"
                                    data-menuitem-index="6"
                                    class="childList"
                                  >
                                    Private Wealth
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/personal/super-and-investments"
                                    data-menulevel="2"
                                    data-menuitem-index="7"
                                    class="childList"
                                  >
                                    Super and investments
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/personal/insurance"
                                    data-menulevel="2"
                                    data-menuitem-index="8"
                                    class="childList"
                                  >
                                    Insurance
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/personal/travel-and-overseas-banking"
                                    data-menulevel="2"
                                    data-menuitem-index="9"
                                    class="childList"
                                  >
                                    Travel and overseas banking
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/personal/life-moments"
                                    data-menulevel="2"
                                    data-menuitem-index="10"
                                    class="childList"
                                  >
                                    Life Moments
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li
                              _ngcontent-upm-c16=""
                              class="navigation__item--level-1"
                            >
                              <a
                                _ngcontent-upm-c16=""
                                href="#"
                                aria-expanded="false"
                                data-menuitem="2"
                                ><span _ngcontent-upm-c16="">Business</span
                                ><svg
                                  _ngcontent-upm-c16=""
                                  aria-hidden="true"
                                  focusable="false"
                                >
                                  <use
                                    _ngcontent-upm-c16=""
                                    xlink:href="#icon-add"
                                  ></use>
                                </svg>
                              </a>
                              <ul _ngcontent-upm-c16="">
                                <li
                                  _ngcontent-upm-c16=""
                                  class="parent navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/business"
                                    data-menulevel="2"
                                    data-menuitem-index="0"
                                    class="parentList"
                                  >
                                    Business home
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/business/accounts"
                                    data-menulevel="2"
                                    data-menuitem-index="1"
                                    class="childList"
                                  >
                                    Business accounts
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/business/loans-and-finance"
                                    data-menulevel="2"
                                    data-menuitem-index="2"
                                    class="childList"
                                  >
                                    Loans and finance
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/business/business-credit-cards"
                                    data-menulevel="2"
                                    data-menuitem-index="3"
                                    class="childList"
                                  >
                                    Business credit cards
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/business/payments-and-merchants"
                                    data-menulevel="2"
                                    data-menuitem-index="4"
                                    class="childList"
                                  >
                                    Payments and merchants
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/business/online-banking"
                                    data-menulevel="2"
                                    data-menuitem-index="5"
                                    class="childList"
                                  >
                                    Online banking
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/business/international-and-foreign-exchange"
                                    data-menulevel="2"
                                    data-menuitem-index="6"
                                    class="childList"
                                  >
                                    International and foreign exchange
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/business/insurance-advice"
                                    data-menulevel="2"
                                    data-menuitem-index="7"
                                    class="childList"
                                  >
                                    Insurance and advice
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/business/industry"
                                    data-menulevel="2"
                                    data-menuitem-index="8"
                                    class="childList"
                                  >
                                    Industry specific banking
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/business/small-business"
                                    data-menulevel="2"
                                    data-menuitem-index="9"
                                    class="childList"
                                  >
                                    Small business
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li
                              _ngcontent-upm-c16=""
                              class="navigation__item--level-1"
                            >
                              <a
                                _ngcontent-upm-c16=""
                                href="#"
                                aria-expanded="false"
                                data-menuitem="3"
                                ><span _ngcontent-upm-c16="">Corporate</span
                                ><svg
                                  _ngcontent-upm-c16=""
                                  aria-hidden="true"
                                  focusable="false"
                                >
                                  <use
                                    _ngcontent-upm-c16=""
                                    xlink:href="#icon-add"
                                  ></use>
                                </svg>
                              </a>
                              <ul _ngcontent-upm-c16="">
                                <li
                                  _ngcontent-upm-c16=""
                                  class="parent navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/corporate"
                                    data-menulevel="2"
                                    data-menuitem-index="0"
                                    class="parentList"
                                  >
                                    Corporate home
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/corporate/contact-corporate-and-institutional-bankers"
                                    data-menulevel="2"
                                    data-menuitem-index="1"
                                    class="childList"
                                  >
                                    Contact our specialists
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/corporate/global-relationships"
                                    data-menulevel="2"
                                    data-menuitem-index="2"
                                    class="childList"
                                  >
                                    Global relationships
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/corporate/industry-expertise"
                                    data-menulevel="2"
                                    data-menuitem-index="3"
                                    class="childList"
                                  >
                                    Industry expertise
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/corporate/specialist-solutions"
                                    data-menulevel="2"
                                    data-menuitem-index="4"
                                    class="childList"
                                  >
                                    Specialist solutions
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/corporate/big-thinking"
                                    data-menulevel="2"
                                    data-menuitem-index="5"
                                    class="childList"
                                  >
                                    Big thinking
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li
                              _ngcontent-upm-c16=""
                              class="navigation__item--level-1"
                            >
                              <a
                                _ngcontent-upm-c16=""
                                href="#"
                                aria-expanded="false"
                                data-menuitem="4"
                                ><span _ngcontent-upm-c16="">About us</span
                                ><svg
                                  _ngcontent-upm-c16=""
                                  aria-hidden="true"
                                  focusable="false"
                                >
                                  <use
                                    _ngcontent-upm-c16=""
                                    xlink:href="#icon-add"
                                  ></use>
                                </svg>
                              </a>
                              <ul _ngcontent-upm-c16="">
                                <li
                                  _ngcontent-upm-c16=""
                                  class="parent navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/about-us"
                                    data-menulevel="2"
                                    data-menuitem-index="0"
                                    class="parentList"
                                  >
                                    About us home
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/about-us/security"
                                    data-menulevel="2"
                                    data-menuitem-index="1"
                                    class="childList"
                                  >
                                    Security
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/about-us/careers"
                                    data-menulevel="2"
                                    data-menuitem-index="2"
                                    class="childList"
                                  >
                                    Careers
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/about-us/social-impact"
                                    data-menulevel="2"
                                    data-menuitem-index="3"
                                    class="childList"
                                  >
                                    Social Impact
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/about-us/corporate-governance"
                                    data-menulevel="2"
                                    data-menuitem-index="4"
                                    class="childList"
                                  >
                                    Corporate Governance
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/about-us/shareholder-centre"
                                    data-menulevel="2"
                                    data-menuitem-index="5"
                                    class="childList"
                                  >
                                    Shareholder Centre
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/about-us/capital-and-funding"
                                    data-menulevel="2"
                                    data-menuitem-index="6"
                                    class="childList"
                                  >
                                    Capital and funding
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/about-us/media"
                                    data-menulevel="2"
                                    data-menuitem-index="7"
                                    class="childList"
                                  >
                                    Media
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/about-us/more-than-money"
                                    data-menulevel="2"
                                    data-menuitem-index="8"
                                    class="childList"
                                  >
                                    More than Money
                                  </a>
                                </li>
                                <li
                                  _ngcontent-upm-c16=""
                                  class="navigation__item--level-2"
                                >
                                  <a
                                    _ngcontent-upm-c16=""
                                    href="https://www.nab.com.au/about-us/accessibility-inclusion"
                                    data-menulevel="2"
                                    data-menuitem-index="9"
                                    class="childList"
                                  >
                                    Accessibility
                                  </a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                          <ul _ngcontent-upm-c16="" id="quick-links">
                            <li _ngcontent-upm-c16="">
                              <a
                                _ngcontent-upm-c16=""
                                aria-label="Help"
                                href="https://www.nab.com.au/help-support"
                                ><svg
                                  _ngcontent-upm-c16=""
                                  aria-hidden="true"
                                  focusable="false"
                                >
                                  <use
                                    _ngcontent-upm-c16=""
                                    xlink:href="#icon-help"
                                  ></use>
                                </svg>
                              </a>
                            </li>
                            <li _ngcontent-upm-c16="">
                              <a
                                _ngcontent-upm-c16=""
                                aria-label="Contact us"
                                href="https://www.nab.com.au/contact-us"
                                ><svg
                                  _ngcontent-upm-c16=""
                                  aria-hidden="true"
                                  focusable="false"
                                >
                                  <use
                                    _ngcontent-upm-c16=""
                                    xlink:href="#icon-call"
                                  ></use>
                                </svg>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </nav>
                      <div
                        _ngcontent-upm-c16=""
                        id="latest-offers"
                        class="visible-xs"
                      >
                        <h2 _ngcontent-upm-c16="" class="paragraph-text">
                          Latest offers
                        </h2>
                        <div
                          _ngcontent-upm-c16=""
                          class="latest-offers-buttons"
                        >
                          <div
                            _ngcontent-upm-c16=""
                            class="nab-button--large nab-button--primary"
                          >
                            <a
                              _ngcontent-upm-c16=""
                              aria-label="Personal"
                              href="https://www.nab.com.au/personal/credit-cards/offers"
                              class="nab-button"
                              ><span _ngcontent-upm-c16="">Personal</span></a
                            >
                          </div>
                          <div
                            _ngcontent-upm-c16=""
                            class="nab-button--large nab-button--primary"
                          >
                            <a
                              _ngcontent-upm-c16=""
                              aria-label="Business"
                              href="https://www.nab.com.au/business/offers"
                              class="nab-button"
                              ><span _ngcontent-upm-c16="">Business</span></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div _ngcontent-upm-c16="" class="nab-header-bar">
                <div _ngcontent-upm-c16="" class="nab-header-bar--fixed">
                  <div _ngcontent-upm-c16="" id="header-container">
                    <div
                      _ngcontent-upm-c16=""
                      aria-expanded="false"
                      aria-hidden="true"
                      class="notification-banner"
                    >
                      <div
                        _ngcontent-upm-c16=""
                        id="notification-banner-live"
                        class="notification-banner__content responsivegrid responsivegrid--fixed responsivegrid--gutters"
                      >
                        <div
                          _ngcontent-upm-c16=""
                          class="notification-banner__close nab-button-icon--black"
                        >
                          <button _ngcontent-upm-c16="" class="nab-button">
                            <span _ngcontent-upm-c16="" class="sr-only"
                              >close notification</span
                            ><svg
                              _ngcontent-upm-c16=""
                              aria-hidden="true"
                              focusable="false"
                              class="notification-banner__close-icon icon"
                            >
                              <use
                                _ngcontent-upm-c16=""
                                xlink:href="#icon-close"
                              ></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div
                        _ngcontent-upm-c16=""
                        id="notification-banner-cache"
                        class="notification-banner__cache"
                      ></div>
                    </div>
                    <header
                      _ngcontent-upm-c16=""
                      role="banner"
                      class="nab-header-bar__header"
                    >
                      <div _ngcontent-upm-c16="" class="nab-header-bar__logo">
                        <a
                          _ngcontent-upm-c16=""
                          href="https://www.nab.com.au/content/nabrwd/en"
                          ><img
                            _ngcontent-upm-c16=""
                            src="https://www.nab.com.au/etc.clientlibs/nab/clientlibs/clientlib-generated-styleguide/resources/images/svg/nab-logo.svg"
                            alt="Home - NAB"
                        /></a>
                      </div>
                      <span
                        _ngcontent-upm-c16=""
                        class="nab-header-bar__title impact-text light-text"
                      >
                        Credit Card Application Form
                      </span>
                      <div
                        _ngcontent-upm-c16=""
                        class="nab-header-bar__search-container"
                      ></div>
                      <div
                        _ngcontent-upm-c16=""
                        class="nab-header-bar__search-close nab-button-icon--white"
                      >
                        <a
                          _ngcontent-upm-c16=""
                          href="#"
                          aria-label="Close Search"
                          class="nab-button nab-header-search__close-button hidden"
                          ><svg
                            _ngcontent-upm-c16=""
                            aria-hidden="true"
                            focusable="false"
                          >
                            <use
                              _ngcontent-upm-c16=""
                              xlink:href="#icon-close"
                            ></use>
                          </svg>
                        </a>
                      </div>
                    </header>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
